{:paths ["src/main/" :another-project-dir]

 :clr-deps
 {Some.Local.Library {:local/root :some-local-dir}}

 :clr-aliases
 {:some-local-dir "C:\\libs\\"
  :another-project-dir "C:\\projects\\another-project\\"}

 :nuget/repos []
 }